/*
This file will be converted to style.css by Tailwind CSS.

either run "npm run build"
or "npx @tailwindcss/cli -i ./input.css -o ./docs/sytle.css"

*/

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h1,
.prose h2,
.prose h3{
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.prose p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}


.prose li,
.prose ul,
.prose ol {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

.prose li li,
.prose ul ul,
.prose ol ol {
  margin-top: 0.02rem;
  margin-bottom: 0.02rem;
}